/* ================ The Timeline ================ */
.timeline {
  position: relative;
  width: 720px;
  margin: 0 auto;
  margin-top: 16px;
  padding: 0.75em 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 0.9rem;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 4px;
  height: 100%;
  transform: translateX(-50%);
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  position: relative;
  padding: 0.75em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 330px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 330px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 5px 8px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -32px;
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  margin-top: -11px;
  background: #fff;
  border-radius: 50%;
  border: 3px solid var(--global-theme-color);
  z-index: 10;
}

.direction-r .flag:before {
  left: -32px;
  right: auto;
}

@media screen and (min-width: 661px) {
  .timeline li::before {
    content: '';
    position: absolute;
    left: 50%;
    top: calc(2.1em + 2px);
    width: 16px;
    height: 16px;
    margin-top: -11px;
    background: #fff;
    border-radius: 50%;
    border: 3px solid var(--global-theme-color);
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    content: none;
  }
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -6px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 6px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -6px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 6px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.6em;
  color: var(--global-theme-color);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 3px 5px;
  background: rgb(248,248,248);
  color: var(--global-theme-color);
}

.desc {
  margin: 0.75em 0.6em 0 0;
  font-size: 0.72em;
  /* font-style: italic; */
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 0.75em 0 0 0.6em;
}

.timeline .timeline-link {
  color: var(--global-theme-color);
}

html[data-theme="dark"] .flag {
  background: var(--global-card-bg-color);
  color: var(--global-text-color);
}

html[data-theme="dark"] .time {
  background: var(--global-card-bg-color);
}

html[data-theme="dark"] .time-wrapper {
  color: var(--global-theme-color);
}

html[data-theme="dark"] .direction-l .flag:after {
  border-left-color: var(--global-card-bg-color);
}

html[data-theme="dark"] .direction-r .flag:after {
  border-right-color: var(--global-card-bg-color);
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 1000px) {
  .timeline {
    width: 600px;
  }

  .direction-l {
    position: relative;
    width: 270px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 270px;
    float: right;
  }
}

@media screen and (max-width: 800px) {
  .timeline {
    width: 560px;
  }

  .direction-l {
    position: relative;
    width: 250px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 250px;
    float: right;
  }
}

@media screen and (max-width: 660px) {

  .timeline {
    width: 100%;
    padding: 3em 0 0.75em 0;
  }

  .timeline li {
    padding: 1.5em 0;
  }

  .direction-l,
  .direction-r {
    float: none;
    width: 100%;

    text-align: center;
  }

  .flag-wrapper {
    text-align: center;
  }

  .flag {
    background: rgb(255,255,255);
    z-index: 15;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -26px;
    left: 50%;
    content: ' ';
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    border: 3px solid var(--global-theme-color);
    transform: translateX(-50%);
    z-index: 10;
  }

  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -6px;
    height: 0;
    width: 0;
    margin-left: -6px;
    border: solid transparent;
    border-bottom-color: rgb(255,255,255);
    border-width: 6px;
    pointer-events: none;
  }

  html[data-theme="dark"] .direction-l .flag:after,
  html[data-theme="dark"] .direction-r .flag:after {
    border-bottom-color: var(--global-card-bg-color);
    border-left-color: transparent;
    border-right-color: transparent;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 3px 0 0 0;
    z-index: 14;
  }

  .direction-l .time-wrapper {
    float: none;
  }

  .direction-r .time-wrapper {
    float: none;
  }

  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 0.75em;
    background: rgb(245,245,245);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
    
    z-index: 15;
  }

  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 0.75em;
    
    z-index: 15;
  }

  html[data-theme="dark"] .desc,
  html[data-theme="dark"] .direction-l .desc,
  html[data-theme="dark"] .direction-r .desc {
    background: var(--global-card-bg-color);
    color: var(--global-text-color);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.35);
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.35);
    box-shadow: 0 0 1px rgba(0,0,0,0.35);
  }
}

@media screen and (min-width: 400px ?? max-width: 660px) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
}

